Repository whalesync/scratch-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server:install, server:test, server:build

Path conditions:
  server:install: any of: server/package.json, server/yarn.lock, server/prisma/schema.prisma
  server:test: any of: server/**/*
  server:build: any of: server/**/*

[agent, fix] add missing session property
  pydantic-ai-agent/session.py
Due: none

[client, server] accept and reject all changes
  client/src/app/components/base/buttons.tsx
  client/src/app/snapshots/[...slug]/components/RecordView.tsx
  client/src/app/snapshots/[...slug]/components/TableContent.tsx
  client/src/app/snapshots/[...slug]/components/ViewData.tsx
  client/src/app/snapshots/[...slug]/components/record-details/DisplayField.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/SnapshotTableGridProvider.tsx
  client/src/app/snapshots/[...slug]/page.tsx
  client/src/hooks/use-snapshot-event-webhook.ts
  client/src/hooks/use-snapshot-table-records.ts
  client/src/hooks/use-snapshot.ts
  client/src/lib/api/snapshot.ts
  client/src/types/server-entities/snapshot.ts
  pydantic-ai-agent/agents/data_agent/tools/create_records_tool.py
  server/src/snapshot/snapshot-event.service.ts
  server/src/snapshot/snapshot.controller.ts
  server/src/snapshot/snapshot.service.ts
Due: server:test, server:build

[agent, client] fix create record tool and accept all suggestions
  client/src/app/snapshots/[...slug]/components/ViewData.tsx
  client/src/hooks/use-snapshot-table-records.ts
  pydantic-ai-agent/agents/data_agent/data_agent_utils.py
  pydantic-ai-agent/agents/data_agent/tools/create_records_tool.py
  server/src/snapshot/snapshot.controller.ts
  server/src/snapshot/snapshot.service.ts
Due: server:test, server:build

[client] fix accept and reject buttons wrapping
  client/src/app/components/base/buttons.tsx
  client/src/app/snapshots/[...slug]/components/ViewData.tsx
Due: none

[client] fix issue with view data not reacting to record changes
  client/src/app/components/JsonTreeViewer.tsx
  client/src/app/snapshots/[...slug]/SnapshotContext.tsx
  client/src/app/snapshots/[...slug]/components/RecordView.tsx
  client/src/app/snapshots/[...slug]/components/TableContent.tsx
  client/src/app/snapshots/[...slug]/components/ViewData.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/SnapshotTableGrid.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/SnapshotTableGridProvider.tsx
  client/src/app/snapshots/[...slug]/components/types.ts
  client/src/app/snapshots/[...slug]/page.tsx
  client/src/contexts/snapshot-event-context.tsx
  client/src/hooks/use-snapshot-event-websocket.ts
  server/src/snapshot/snapshot-db.service.ts
Due: server:test, server:build

[client] fix record list scroll
  client/src/app/snapshots/[...slug]/components/RecordView.tsx
Due: none

[client] layout and markdown tweaks
  client/src/app/ClientLayout.tsx
  client/src/app/components/layouts/SidebarAndContentLayout.tsx
  client/src/app/components/markdown/MarkdownRenderer.tsx
  client/src/app/layout.tsx
  client/src/contexts/auth.tsx
  client/src/hooks/use-clerk-appearance/Clerk.module.css
  client/src/hooks/use-clerk-appearance/index.ts
  client/src/hooks/use-clerk-appearance/useClerkAppearance.ts
  client/src/utils/route-urls.ts
Due: none

[client] get 1000 records instead of default of 100
  client/src/hooks/use-snapshot-table-records.ts
Due: none

[server] Add postres db service
  server/prisma/migrations/20250828210637_add_postgres_service_type/migration.sql
  server/prisma/schema.prisma
  server/src/utils/duration.ts
Due: server:install, server:test, server:build

[server, client] remove old snapshot view system
  TECHDEBT.md
  client/src/types/server-entities/snapshot.ts
  server/src/remote-service/connectors/library/custom-spec-registry.ts
  server/src/snapshot/dto/activate-view.dto.ts
  server/src/snapshot/entities/snapshot.entity.ts
  server/src/snapshot/snapshot.controller.ts
  server/src/snapshot/snapshot.service.ts
  server/src/snapshot/types.ts
  server/src/types/ids.ts
  server/src/types/results.ts
Due: server:test, server:build

[server] drop snapshot views table
  server/prisma/ERD.md
  server/prisma/migrations/20250829204459_drop_snapshot_views_table/migration.sql
  server/prisma/schema.prisma
Due: server:install, server:test, server:build

[client, server] basic posthog integration
  client/.env.local.example
  client/package.json
  client/src/app/components/layouts/SidebarAndContentLayout.tsx
  client/src/app/layout.tsx
  client/src/app/providers.tsx
  client/src/contexts/auth.tsx
  client/src/lib/posthog.ts
  client/src/utils/build.ts
  client/yarn.lock
  server/.env.example
  server/package.json
  server/src/app.module.ts
  server/src/config/scratchpad-config.service.ts
  server/src/posthog/posthog.module.ts
  server/src/posthog/posthog.service.ts
  server/src/users/users.module.ts
  server/src/users/users.service.ts
  server/yarn.lock
Due: server:install, server:test, server:build

[client, server] add some basic posthog server events
  client/src/lib/posthog.ts
  server/src/posthog/posthog.service.ts
  server/src/remote-service/connector-account/connector-account.module.ts
  server/src/remote-service/connector-account/connector-account.service.ts
  server/src/snapshot/snapshot.module.ts
  server/src/snapshot/snapshot.service.ts
  server/src/style-guide/style-guide.module.ts
  server/src/style-guide/style-guide.service.ts
  server/src/users/agent-credentials.service.ts
Due: server:test, server:build

[all] reworked how agent credentials are managed and used
  client/src/app/components/EditAgentCredentialsModal.tsx
  client/src/app/settings/components/AgentCredentials.tsx
  client/src/app/settings/components/AgentUsageInfoCard.tsx
  client/src/app/settings/components/DebugInfo.tsx
  client/src/app/settings/page.tsx
  client/src/contexts/snapshot-event-context.tsx
  client/src/hooks/use-snapshot-event-websocket.ts
  client/src/types/server-entities/agent-credentials.ts
  pydantic-ai-agent/agents/agent_utils.py
  pydantic-ai-agent/scratchpad/api.py
  pydantic-ai-agent/server/chat_service.py
  server/src/users/agent-credentials.controller.ts
  server/src/users/agent-credentials.service.ts
  server/src/users/dto/create-agent-credential.dto.ts
  server/src/users/entities/credentials.entity.ts
Due: server:test, server:build

[client, fix] refresh records for snapshot
  client/src/contexts/snapshot-event-context.tsx
  client/src/hooks/use-snapshot-table-records.ts
  client/src/lib/api/keys.ts
Due: none

[notion] Notion oauth
  client/src/app/connections/components/CreateConnectionModal.tsx
  client/src/app/oauth/callback/page.tsx
  client/src/app/oauth/test/page.tsx
  client/src/lib/api/oauth.ts
  client/src/types/oauth.ts
  client/src/utils/oauth.ts
  server/prisma/ERD.md
  server/prisma/migrations/20250902203129_add_oauth_fields_to_connector_account/migration.sql
  server/prisma/schema.prisma
  server/src/app.module.ts
  server/src/oauth/oauth-provider.interface.ts
  server/src/oauth/oauth.controller.ts
  server/src/oauth/oauth.module.ts
  server/src/oauth/oauth.service.ts
  server/src/oauth/providers/airtable-oauth.provider.ts
  server/src/oauth/providers/notion-oauth.provider.ts
  server/src/remote-service/connector-account/connector-account.service.ts
  server/src/remote-service/connector-account/dto/create-connector-account.dto.ts
  server/src/remote-service/connector-account/entities/connector-account.entity.ts
  server/src/remote-service/connectors/connectors.module.ts
  server/src/remote-service/connectors/connectors.service.ts
  server/src/snapshot/snapshot.service.ts
Due: server:install, server:test, server:build

[agent, client] enforce agent credential requirements
  client/src/app/snapshots/[...slug]/components/AIChatPanel/AIChatPanel.tsx
  client/src/app/snapshots/[...slug]/components/AIChatPanel/ResourceSelector.tsx
  client/src/app/snapshots/[...slug]/components/AIChatPanel/SessionHistorySelector.tsx
  client/src/hooks/use-agent-credentials.ts
  pydantic-ai-agent/.env.example
  pydantic-ai-agent/agents/data_agent/agent.py
  pydantic-ai-agent/server/chat_service.py
  server/.env.example
Due: server:test, server:build

[server] remove prisma markdown
  server/package.json
  server/prisma/ERD.md
  server/prisma/schema.prisma
  server/yarn.lock
Due: server:install, server:test, server:build

[server] subscription system db tables
  server/prisma/migrations/20250903180358_add_subscription_tables/migration.sql
  server/prisma/schema.prisma
  server/src/db/cluster-types.ts
  server/src/types/ids.ts
Due: server:install, server:test, server:build

[agent] fixed breaking code reference
  pydantic-ai-agent/server/chat_service.py
Due: none

[agent] fixed breaking code reference again
  pydantic-ai-agent/server/chat_service.py
Due: none

[agent] fixing a bad env-var reference
  pydantic-ai-agent/server/chat_service.py
Due: none

[youtube] added youtube connector and youtube OAuth
  client/src/app/connections/components/CreateConnectionModal.tsx
  client/src/app/oauth/callback/page.tsx
  client/src/app/snapshots/[...slug]/components/SnapshotActionsMenu.tsx
  client/src/types/oauth.ts
  client/src/types/server-entities/connector-accounts.ts
  server/package.json
  server/prisma/migrations/20250903190445_add_youtube_service/migration.sql
  server/prisma/schema.prisma
  server/src/oauth/oauth.controller.ts
  server/src/oauth/oauth.module.ts
  server/src/oauth/oauth.service.ts
  server/src/oauth/providers/notion-oauth.provider.ts
  server/src/oauth/providers/youtube-oauth.provider.ts
  server/src/remote-service/connectors/connector.ts
  server/src/remote-service/connectors/connectors.service.ts
  server/src/remote-service/connectors/library/custom-spec-registry.ts
  server/src/remote-service/connectors/library/youtube/youtube-api-client.ts
  server/src/remote-service/connectors/library/youtube/youtube-connector.ts
  server/src/remote-service/connectors/library/youtube/youtube-spec-types.ts
  server/src/remote-service/connectors/types.ts
  server/src/snapshot/snapshot.service.ts
  server/yarn.lock
Due: server:install, server:test, server:build

[server, payments] block out stripe backend
  client/src/lib/api/payment.ts
  client/src/types/server-entities/payment.ts
  server/.env.example
  server/package.json
  server/src/app.module.ts
  server/src/config/scratchpad-config.service.ts
  server/src/main.ts
  server/src/middleware.ts
  server/src/payment/dto/create-checkout-session-response.ts
  server/src/payment/dto/create-portal-response.ts
  server/src/payment/helpers.ts
  server/src/payment/payment.controller.ts
  server/src/payment/payment.module.ts
  server/src/payment/products.ts
  server/src/payment/stripe-payment.service.ts
  server/src/types/results.ts
  server/src/users/users.service.ts
  server/yarn.lock
Due: server:install, server:test, server:build

[client, server, mcp] Upgrade node to v22.19.0
  client/.nvmrc
  mcp/.nvmrc
  server/.nvmrc
Due: server:test, server:build

[notion] we can push back simple markdown
  server/src/remote-service/connectors/library/notion/notion-connector.ts
Due: server:test, server:build

[client, server] integrated stripe payment flow
  client/src/app/settings/components/AgentCredentials.tsx
  client/src/app/settings/components/SubscriptionCard.tsx
  client/src/app/settings/page.tsx
  client/src/app/subscription/checkout/[productType]/page.tsx
  client/src/app/subscription/manage/page.tsx
  client/src/hooks/use-subscription-status.ts
  client/src/hooks/useScratchpadUser.ts
  client/src/types/server-entities/payment.ts
  client/src/types/server-entities/users.ts
  client/src/utils/route-urls.ts
  pydantic-ai-agent/server/chat_service.py
  server/src/config/scratchpad-config.service.ts
  server/src/payment/helpers.ts
  server/src/payment/payment.controller.ts
  server/src/payment/products.ts
  server/src/payment/stripe-payment.service.ts
  server/src/users/entities/user.entity.ts
  server/src/utils/helpers.ts
Due: server:test, server:build

[record-view] Record view is saving all pending changes upon exit back to spreadsheet view
  client/src/app/snapshots/[...slug]/components/RecordView.tsx
  client/src/app/snapshots/[...slug]/components/record-details/RecordDetails.tsx
Due: none

[agent] fix admin role check
  pydantic-ai-agent/server/chat_service.py
Due: none

[session] Persistent session
  pydantic-ai-agent/scratchpad/api.py
  pydantic-ai-agent/server/chat_controller.py
  pydantic-ai-agent/server/session_service.py
  pydantic-ai-agent/server/websocket_handler.py
  pydantic-ai-agent/session.py
  server/prisma/migrations/20250905182430_add_agent_session/migration.sql
  server/prisma/migrations/20250908145345_update_agent_session_schema/migration.sql
  server/prisma/schema.prisma
  server/src/agent-session/agent-session.controller.ts
  server/src/agent-session/agent-session.module.ts
  server/src/agent-session/agent-session.service.ts
  server/src/agent-session/dto/create-agent-session.dto.ts
  server/src/agent-session/dto/update-agent-session.dto.ts
  server/src/agent-session/entities/agent-session.entity.ts
  server/src/app.module.ts
Due: server:install, server:test, server:build

[server, client] clean up subscription logic
  client/src/app/settings/components/SubscriptionCard.tsx
  client/src/app/subscription/checkout/[productType]/page.tsx
  client/src/lib/api/payment.ts
  client/src/types/server-entities/payment.ts
  client/src/types/server-entities/users.ts
  server/src/payment/payment.controller.ts
  server/src/payment/plans.ts
  server/src/payment/products.ts
  server/src/payment/stripe-payment.service.ts
  server/src/users/entities/user.entity.ts
Due: server:test, server:build

[api-key] handle invalid api key and strip spaces
  pydantic-ai-agent/_experiments/main.py
  pydantic-ai-agent/_experiments/simple_test_agent/main.py
  pydantic-ai-agent/connector_builder/agent.py
  pydantic-ai-agent/eval1.py
  pydantic-ai-agent/server/chat_service.py
Due: none

[readme] added instructions for prod deployments
  README.md
Due: none

[frontend] fix flicker
  client/src/app/snapshots/[...slug]/components/RecordView.tsx
  client/src/app/snapshots/[...slug]/page.tsx
  client/src/hooks/use-snapshot-table-records.ts
Due: none

[encription] now encrypting connection credentials
  server/.env.example
  server/prisma/migrations/20250905173659_encrypt_connector_credentials/migration.sql
  server/prisma/schema.prisma
  server/src/oauth/oauth.service.ts
  server/src/remote-service/connector-account/connector-account.service.ts
  server/src/remote-service/connector-account/entities/connector-account.entity.ts
  server/src/remote-service/connector-account/types/encrypted-credentials.interface.ts
  server/src/remote-service/connectors/connectors.service.ts
  server/src/utils/encryption.ts
Due: server:install, server:test, server:build

[server] cleanup plan ids and references
  server/src/payment/payment.controller.ts
  server/src/payment/plans.ts
  server/src/users/entities/user.entity.ts
Due: server:test, server:build

[agent] improving web socket error handling
  client/src/hooks/use-agent-chat-websocket.ts
  pydantic-ai-agent/connector_builder/agent.py
  pydantic-ai-agent/logger.py
  pydantic-ai-agent/scratchpad/api.py
  pydantic-ai-agent/server/chat_controller.py
  pydantic-ai-agent/server/session_service.py
  pydantic-ai-agent/server/websocket_handler.py
  pydantic-ai-agent/session.py
Due: none

[client] fix duplicate messages at start of ai chat
  client/src/app/snapshots/[...slug]/components/AIChatPanel/AIChatPanel.tsx
Due: none

[filtering] Return an error when invalid filter is being set, do not wait until it is used
  client/src/app/snapshots/[...slug]/components/ViewData.tsx
  client/src/lib/api/snapshot.ts
  server/src/snapshot/snapshot-db.service.ts
  server/src/snapshot/snapshot.service.ts
Due: server:test, server:build

[youtube] enable the youtube connector to access not owned channels (managed brand channels and public channels)
  client/src/app/connections/components/CreateSnapshotModal.tsx
  client/src/types/server-entities/connector-accounts.ts
  server/prisma/migrations/20250909123043_add_extras_to_connector_account/migration.sql
  server/prisma/schema.prisma
  server/src/remote-service/connector-account/connector-account.service.ts
  server/src/remote-service/connector-account/dto/update-connector-account.dto.ts
  server/src/remote-service/connector-account/entities/connector-account.entity.ts
  server/src/remote-service/connectors/library/youtube/youtube-api-client.ts
  server/src/remote-service/connectors/library/youtube/youtube-connector.ts
Due: server:install, server:test, server:build
