Repository whalesync/scratch-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server:install, server:test, server:build

Path conditions:
  server:install: any of: server/package.json, server/yarn.lock, server/prisma/schema.prisma
  server:test: any of: server/**/*
  server:build: any of: server/**/*

[client] style guide rework - part 1
  client/src/app/components/AIChatPanel.tsx
  client/src/app/components/EditResourceModal.tsx
  client/src/app/components/ResourceSelector.tsx
  client/src/app/style-guides/[id]/page.tsx
  client/src/app/style-guides/page.tsx
  client/src/utils/route-urls.ts
Due: none

[client] add custom pill select component for style guides
  client/src/app/components/CustomPillMultiSelect.module.css
  client/src/app/components/CustomPillMultiSelect.tsx
  client/src/app/components/EditResourceModal.tsx
  client/src/app/components/ResourceSelector.tsx
Due: none

[client, fix] tweak validation on record creates
  client/src/app/snapshots/[id]/components/snapshot-table/SnapshotTableGridProvider.tsx
  server/src/snapshot/snapshot.service.ts
Due: server:test, server:build

[client] fix style guides bug
  client/src/app/components/EditResourceModal.tsx
  client/src/app/components/ResourceSelector.tsx
  client/src/app/style-guides/page.tsx
  client/src/lib/api/style-guide.ts
Due: none

[agent] update cached record in context after update by tool
  client/src/app/components/AIChatPanel.tsx
  pydantic-ai-agent/agents/data_agent/model_utils.py
  pydantic-ai-agent/agents/data_agent/tools/append_field_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/insert_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/search_and_replace_field_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/set_field_value_tool.py
Due: none

[client] layout improvements for the record view
  client/src/app/components/DiffViewer.module.css
  client/src/app/components/DiffViewer.tsx
  client/src/app/components/EnhancedTextArea.module.css
  client/src/app/components/EnhancedTextArea.tsx
  client/src/app/snapshots/[id]/components/RecordDetails.tsx
  client/src/app/snapshots/[id]/components/RecordView.tsx
  client/src/app/snapshots/[id]/page.tsx
  client/src/types/server-entities/snapshot.ts
Due: none

[server] add data infra for agent credentials
  server/prisma/ERD.md
  server/prisma/migrations/20250807145436_add_agent_credentials/migration.sql
  server/prisma/schema.prisma
  server/src/types/ids.ts
  server/src/users/agent-credentials.controller.ts
  server/src/users/agent-credentials.service.ts
  server/src/users/dto/create-agent-credential.dto.ts
  server/src/users/entities/credentials.entity.ts
  server/src/users/users.module.ts
Due: server:install, server:test, server:build

[client, server] setup client api for managing credentials
  client/src/lib/api/agent-credentials.ts
  client/src/types/server-entities/agent-credentials.ts
  disabled-.gitlab-ci.yml
  server/src/users/agent-credentials.controller.ts
  server/src/users/entities/credentials.entity.ts
Due: server:test, server:build

[client] save selected style guides in local storage
  client/src/app/components/AIChatPanel.tsx
Due: none

[client] add way to manage agent credentials on the frontend
  client/src/app/settings/components/AgentCredentials.tsx
  client/src/app/settings/components/DebugInfo.tsx
  client/src/app/settings/page.tsx
  client/src/hooks/use-agent-credentials.ts
  client/src/lib/api/keys.ts
Due: none

[agent] use openrouter keys from users
  pydantic-ai-agent/agents/data_agent/agent.py
  pydantic-ai-agent/scratchpad_api.py
  pydantic-ai-agent/server/chat_service.py
  pydantic-ai-agent/utils/helpers.py
Due: none

[client, server, agent] add state flag to agent credentials
  client/src/app/settings/components/AgentCredentials.tsx
  client/src/types/server-entities/agent-credentials.ts
  pydantic-ai-agent/scratchpad_api.py
  pydantic-ai-agent/server/chat_service.py
  server/prisma/ERD.md
  server/prisma/migrations/20250807194247_enabled_flag_for_agent_credentials/migration.sql
  server/prisma/schema.prisma
  server/src/users/entities/credentials.entity.ts
Due: server:install, server:test, server:build

[agent] add debugging to figure out issue
  pydantic-ai-agent/scratchpad_api.py
  pydantic-ai-agent/server/chat_service.py
Due: none

[agent] disable new agent credential feature
  pydantic-ai-agent/agents/data_agent/agent.py
  pydantic-ai-agent/server/chat_service.py
Due: none

[agent] pin openai sdk version
  client/src/app/snapshots/[id]/components/RecordDetails.tsx
  client/src/types/server-entities/snapshot.ts
  pydantic-ai-agent/agents/data_agent/tools/append_field_value_tool.py
  pydantic-ai-agent/requirements.txt
Due: none

[client] reworked layout of the record list
  client/src/app/snapshots/[id]/components/RecordDetails.tsx
  client/src/app/snapshots/[id]/components/RecordList.module.css
  client/src/app/snapshots/[id]/components/RecordList.tsx
  client/src/app/snapshots/[id]/components/RecordView.tsx
  client/src/types/server-entities/snapshot.ts
Due: none

[agent] restore agent credentials config
  pydantic-ai-agent/agents/data_agent/agent.py
  pydantic-ai-agent/server/chat_service.py
Due: none

[client] move snapshot actions into menu and remove header row
  client/src/app/components/AIChatPanel.tsx
  client/src/app/components/DotSpacer/index.tsx
  client/src/app/components/InfoPanel/Info.module.css
  client/src/app/components/InfoPanel/index.tsx
  client/src/app/components/ScratchpadNotifications/index.ts
  client/src/app/components/ScratchpadNotifications/notifications.module.css
  client/src/app/components/base/buttons.tsx
  client/src/app/components/base/text.tsx
  client/src/app/snapshots/[id]/components/RecordDetails.tsx
  client/src/app/snapshots/[id]/components/SnapshotActionsMenu.tsx
  client/src/app/snapshots/[id]/page.module.css
  client/src/app/snapshots/[id]/page.tsx
Due: none

[client] add zustand state store pkg
  client/package.json
  client/yarn.lock
Due: none

[client] tweaking layout and chat panel
  client/src/app/components/AIChatPanel.tsx
  client/src/app/components/CustomPillMultiSelect.module.css
  client/src/app/components/CustomPillMultiSelect.tsx
  client/src/app/components/DotSpacer/index.tsx
  client/src/app/components/Icons/StyledIcon.tsx
  client/src/app/components/Icons/sizes.ts
  client/src/app/components/InfoPanel/index.tsx
  client/src/app/components/ResourceSelector.tsx
  client/src/app/components/base/text.tsx
  client/src/app/snapshots/[id]/components/ViewData.tsx
  client/src/app/snapshots/[id]/page.tsx
Due: none

[client], more layout tweaks to snapshot view
  client/src/app/ClientLayout.tsx
  client/src/app/components/AIChatPanel.tsx
  client/src/app/snapshots/[id]/components/RecordDetails.tsx
  client/src/app/snapshots/[id]/components/RecordList.tsx
  client/src/app/snapshots/[id]/components/RecordView.tsx
  client/src/app/snapshots/[id]/components/SnapshotActionsMenu.tsx
  client/src/app/snapshots/[id]/components/ViewData.tsx
  client/src/app/snapshots/[id]/page.tsx
Due: none

[client] Refactor the details page
  client/src/app/components/AIChatPanel.tsx
  client/src/app/snapshots/[id]/components/RecordView.tsx
  client/src/app/snapshots/[id]/components/record-details/DisplayField.tsx
  client/src/app/snapshots/[id]/components/record-details/FieldRow.tsx
  client/src/app/snapshots/[id]/components/record-details/RecordDetails.tsx
  client/src/app/snapshots/[id]/components/record-details/RecordList.module.css
  client/src/app/snapshots/[id]/components/record-details/RecordList.tsx
Due: none

[server, client] add support for auto-attaching resources
  client/src/app/components/AIChatPanel.tsx
  client/src/app/components/EditResourceModal.tsx
  client/src/app/style-guides/page.tsx
  client/src/types/server-entities/style-guide.ts
  server/prisma/ERD.md
  server/prisma/migrations/20250809155457_add_styleguide_auto_include/migration.sql
  server/prisma/schema.prisma
  server/src/style-guide/dto/create-style-guide.dto.ts
  server/src/style-guide/dto/update-style-guide.dto.ts
  server/src/style-guide/entities/style-guide.entity.ts
Due: server:install, server:test, server:build

[server, agent] track token usage in the DB
  pydantic-ai-agent/scratchpad_api.py
  pydantic-ai-agent/server/chat_service.py
  server/prisma/ERD.md
  server/prisma/migrations/20250809164412_agent_token_usage_events_table/migration.sql
  server/prisma/schema.prisma
  server/src/ai-agent-token-usage/ai-agent-token-usage.controller.ts
  server/src/ai-agent-token-usage/ai-agent-token-usage.module.ts
  server/src/ai-agent-token-usage/ai-agent-token-usage.service.ts
  server/src/ai-agent-token-usage/dto/create-ai-agent-token-usage-event.dto.ts
  server/src/ai-agent-token-usage/entities/ai-agent-token-usage-event.entity.ts
  server/src/app.module.ts
  server/src/types/ids.ts
Due: server:install, server:test, server:build

[client] more record view rendering tweaks
  client/src/app/snapshots/[id]/components/record-details/DisplayField.tsx
  client/src/app/snapshots/[id]/components/record-details/FieldRow.tsx
  client/src/app/snapshots/[id]/components/record-details/RecordDetails.tsx
  client/src/app/snapshots/[id]/components/record-details/RecordList.tsx
Due: none

[client] separate connection elements into modals
  client/src/app/components/SnapshotCard.tsx
  client/src/app/components/SnapshotList.tsx
  client/src/app/connections/ConnectorAccountRow.tsx
  client/src/app/connections/components/ConnectorAccountRow.tsx
  client/src/app/connections/components/CreateConnectionModal.tsx
  client/src/app/connections/components/CreateSnapshotModal.tsx
  client/src/app/connections/components/UpdateConnectionModal.tsx
  client/src/app/connections/page.tsx
  client/src/hooks/use-snapshot.ts
Due: none

[client] display agent usage stats
  client/src/app/settings/components/UsageHistory.tsx
  client/src/app/settings/page.tsx
  client/src/hooks/use-agent-usage-stats.ts
  client/src/lib/api/agent-usage-events.ts
  client/src/lib/api/keys.ts
  client/src/types/server-entities/agent-usage-events.ts
  server/src/ai-agent-token-usage/ai-agent-token-usage.controller.ts
  server/src/ai-agent-token-usage/entities/ai-agent-token-usage-event.entity.ts
Due: server:test, server:build

[client] restore the back button
  client/src/app/snapshots/[id]/components/RecordView.tsx
Due: none

[client] support linking to specific records and fields
  client/src/app/components/AIChatPanel.tsx
  client/src/app/snapshots/[...slug]/AIPromptContext.tsx
  client/src/app/snapshots/[...slug]/FocusedCellsContext.tsx
  client/src/app/snapshots/[...slug]/SnapshotContext.tsx
  client/src/app/snapshots/[...slug]/components/RecordView.tsx
  client/src/app/snapshots/[...slug]/components/SnapshotActionsMenu.tsx
  client/src/app/snapshots/[...slug]/components/SnapshotTableGrid.tsx
  client/src/app/snapshots/[...slug]/components/TableContent.tsx
  client/src/app/snapshots/[...slug]/components/ViewData.tsx
  client/src/app/snapshots/[...slug]/components/record-details/DisplayField.tsx
  client/src/app/snapshots/[...slug]/components/record-details/FieldRow.tsx
  client/src/app/snapshots/[...slug]/components/record-details/RecordDetails.tsx
  client/src/app/snapshots/[...slug]/components/record-details/RecordList.module.css
  client/src/app/snapshots/[...slug]/components/record-details/RecordList.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/FocusedCellsDebugModal.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/SnapshotTableGrid.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/SnapshotTableGridProvider.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/menus/ContextMenu.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/menus/HeaderMenu.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/menus/constants.ts
  client/src/app/snapshots/[...slug]/components/snapshot-table/menus/views_filter-records.ts
  client/src/app/snapshots/[...slug]/components/snapshot-table/useContextMenuItems.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/useCoreGridHandlers.ts
  client/src/app/snapshots/[...slug]/components/snapshot-table/useCoreGridState.ts
  client/src/app/snapshots/[...slug]/components/snapshot-table/useDrawCell.ts
  client/src/app/snapshots/[...slug]/components/snapshot-table/useMousePosition.ts
  client/src/app/snapshots/[...slug]/components/snapshot-table/useProcessedSelection.ts
  client/src/app/snapshots/[...slug]/components/snapshot-table/utils/helpers.ts
  client/src/app/snapshots/[...slug]/components/snapshot-table/utils/selectionUtils.ts
  client/src/app/snapshots/[...slug]/components/types.ts
  client/src/app/snapshots/[...slug]/hooks/use-snapshot-params.ts
  client/src/app/snapshots/[...slug]/icons.ts
  client/src/app/snapshots/[...slug]/page.module.css
  client/src/app/snapshots/[...slug]/page.tsx
  client/src/hooks/use-agent-chat-websocket.ts
  client/src/types/common.ts
  client/src/types/server-entities/chat-session.ts
  client/src/utils/route-urls.ts
Due: none

[client, fix] make first field of CSV files editable when not an ID
  client/src/app/csv-files/[id]/page.tsx
  client/src/app/snapshots/[...slug]/components/record-details/DisplayField.module.css
  client/src/app/snapshots/[...slug]/components/record-details/DisplayField.tsx
  client/src/hooks/use-sse.ts
  server/src/remote-service/connectors/library/csv/csv-connector.ts
Due: server:test, server:build

[client]Rework csvs
  client/src/app/csv-files/[id]/page.tsx
  client/src/app/csv-files/components/EditCsvFileModal.tsx
  client/src/app/csv-files/page.tsx
  client/src/hooks/use-snapshot.ts
  client/src/lib/api/csv-file.ts
  client/src/utils/route-urls.ts
  server/src/remote-service/connectors/library/csv/csv-connector.ts
Due: server:test, server:build

[client, server] snapshot list fixes and new simple content snapshots
  client/src/app/components/SideMenu.tsx
  client/src/app/components/SnapshotCard.tsx
  client/src/app/components/SnapshotList.tsx
  client/src/app/page.tsx
  client/src/app/snapshots/components/CreateSnapshotPanel.tsx
  client/src/app/snapshots/components/SnapshotCard.module.css
  client/src/app/snapshots/components/SnapshotCard.tsx
  client/src/app/snapshots/components/SnapshotList.tsx
  client/src/app/snapshots/page.tsx
  client/src/hooks/use-content-tools.ts
  client/src/hooks/use-snapshot.ts
  client/src/hooks/useScratchpadUser.ts
  client/src/lib/api/content-tools.ts
  client/src/lib/api/snapshot.ts
  client/src/types/server-entities/snapshot.ts
  client/src/types/server-entities/users.ts
  client/src/utils/route-urls.ts
  server/src/app.module.ts
  server/src/content-tools/content-tools.controller.ts
  server/src/content-tools/content-tools.module.ts
  server/src/content-tools/content-tools.service.ts
  server/src/content-tools/dto/create-content-snapshot.dto.ts
  server/src/remote-service/connector-account/connector-account.module.ts
  server/src/snapshot/dto/update-snapshot.dto.ts
  server/src/snapshot/snapshot.service.ts
Due: server:test, server:build

[client] fix how records load when filter changes
  client/src/app/snapshots/[...slug]/components/snapshot-table/utils/selectionUtils.ts
  client/src/app/snapshots/[...slug]/page.tsx
  client/src/contexts/snapshot-event-context.tsx
  client/src/hooks/use-snapshot.ts
Due: none

[agent] reworked logfire logging
  pydantic-ai-agent/connector_builder/connector_builder_service.py
  pydantic-ai-agent/logger.py
  pydantic-ai-agent/requirements.txt
  pydantic-ai-agent/scratchpad_api.py
  pydantic-ai-agent/server/chat_controller.py
  pydantic-ai-agent/server/chat_service.py
  pydantic-ai-agent/server/websocket_handler.py
Due: none

[client, server] a collection of UI fixes and cleaning up old code
  client/public/connector-icons/csv-svgrepo-com.svg
  client/public/connector-icons/gear-svgrepo-com.svg
  client/public/connector-icons/youtube-color-svgrepo-com.svg
  client/src/app/ai-connector-builder/components/ConnectorAIChatPanel.tsx
  client/src/app/components/AIChatPanel.tsx
  client/src/app/components/ConnectorIcon.tsx
  client/src/app/components/SideMenu.tsx
  client/src/app/connections/components/ConnectorAccountRow.tsx
  client/src/app/connections/components/CreateSnapshotModal.tsx
  client/src/app/connections/page.tsx
  client/src/app/settings/components/AgentCredentials.tsx
  client/src/app/settings/components/DebugInfo.tsx
  client/src/app/settings/components/UsageHistory.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/menus/ContextMenu.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/menus/constants.ts
  client/src/app/snapshots/[...slug]/components/snapshot-table/useContextMenuItems.tsx
  client/src/app/snapshots/components/CreateSnapshotPanel.tsx
  client/src/app/web-socket-test/page.tsx
  client/src/hooks/use-snapshot-event-webhook.ts
  client/src/hooks/useScratchpadUser.ts
  client/src/types/server-entities/users.ts
  client/src/utils/route-urls.ts
  server/prisma/ERD.md
  server/prisma/migrations/20250813144238_drop_user_isadmin/migration.sql
  server/prisma/schema.prisma
Due: server:install, server:test, server:build

[client] bug fixes and tweak temp icons
  client/public/connector-icons/csv-svgrepo-com.svg
  client/public/connector-icons/gear-svgrepo-com.svg
  client/src/app/components/SideMenu.tsx
  client/src/app/connections/components/ConnectorAccountRow.tsx
  client/src/app/settings/components/AgentCredentials.tsx
  client/src/app/settings/components/UsageHistory.tsx
  client/src/types/server-entities/snapshot.ts
  server/src/remote-service/connectors/library/notion/notion-schema-parser.ts
Due: server:test, server:build

[client] support both integrated and side-by-side diffs
  client/src/app/components/AIChatPanel.tsx
  client/src/app/components/DiffViewer.module.css
  client/src/app/components/DiffViewer.tsx
  client/src/contexts/ai-agent-session-manager-context.tsx
  client/src/hooks/use-agent-chat-websocket.ts
  client/src/hooks/use-snapshot-event-webhook.ts
  pydantic-ai-agent/server/chat_service.py
Due: none

[client] disable publishing and add record view option
  client/src/app/snapshots/[...slug]/components/SnapshotActionsMenu.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/SnapshotTableGridProvider.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/useContextMenuItems.tsx
Due: none

[client] fixing deprecated icons
  client/src/app/snapshots/[...slug]/components/snapshot-table/useContextMenuItems.tsx
Due: none

[client] set word-wrap rules to handle URLs
  client/src/app/components/DiffViewer.module.css
Due: none
