Repository whalesync/scratch-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server:install, server:test, server:build

Path conditions:
  server:install: any of: server/package.json, server/yarn.lock, server/prisma/schema.prisma
  server:test: any of: server/**/*
  server:build: any of: server/**/*

[server, client] load notion page content as markdown
  client/src/app/snapshots/[...slug]/components/SnapshotActionsMenu.tsx
  client/src/lib/api/snapshot.ts
  client/src/types/server-entities/snapshot.ts
  server/package.json
  server/src/remote-service/connectors/library/notion/notion-connector.ts
  server/src/remote-service/connectors/library/notion/notion-schema-parser.ts
  server/src/remote-service/connectors/types.ts
  server/src/snapshot/entities/download-results.entity.ts
  server/src/snapshot/snapshot.controller.ts
  server/src/snapshot/snapshot.service.ts
  server/yarn.lock
Due: server:install, server:test, server:build

[client, server] calc and display usage status summaries
  client/src/app/settings/components/AgentUsageInfoCard.tsx
  client/src/app/settings/components/UsageHistory.tsx
  client/src/app/settings/page.tsx
  client/src/hooks/use-agent-usage-stats.ts
  client/src/lib/api/agent-usage-events.ts
  client/src/lib/api/keys.ts
  client/src/types/server-entities/agent-usage-events.ts
  server/src/ai-agent-token-usage/ai-agent-token-usage.controller.ts
  server/src/ai-agent-token-usage/ai-agent-token-usage.service.ts
  server/src/ai-agent-token-usage/entities/usage-summary.entity.ts
Due: server:test, server:build

[client] fixed rename tool in snapshots menu
  client/src/app/snapshots/[...slug]/SnapshotContext.tsx
  client/src/app/snapshots/[...slug]/components/SnapshotActionsMenu.tsx
Due: none

[client, agent] AI chat improvements
  client/src/app/ai-connector-builder/components/ConnectorAIChatPanel.tsx
  client/src/app/components/AIChatPanel/CapabilitiesPicker.tsx
  client/src/app/components/AIChatPanel/ChatMessageElement.tsx
  client/src/app/components/AIChatPanel/index.tsx
  client/src/types/server-entities/snapshot.ts
  client/src/utils/helpers.ts
  pydantic-ai-agent/server/chat_service.py
  pydantic-ai-agent/server/websocket_handler.py
Due: none

[server, agent] standardize health check endpoints
  pydantic-ai-agent/main.py
  pydantic-ai-agent/server/admin_controller.py
  server/src/admin/admin.controller.ts
  server/src/admin/admin.module.ts
  server/src/app.module.ts
  server/src/health/health.controller.ts
  server/src/health/health.module.ts
Due: server:test, server:build

Initial support for stopping agents
  client/src/app/components/AIChatPanel/ChatMessageElement.tsx
  client/src/app/components/AIChatPanel/index.tsx
  client/src/contexts/ai-agent-session-manager-context.tsx
  client/src/hooks/use-agent-chat-websocket.ts
  client/src/lib/api/ai-agent.ts
  client/src/types/server-entities/chat-session.ts
  pydantic-ai-agent/agents/data_agent/data_agent_utils.py
  pydantic-ai-agent/agents/data_agent/models.py
  pydantic-ai-agent/server/DTOs.py
  pydantic-ai-agent/server/agent_run_state_manager.py
  pydantic-ai-agent/server/chat_controller.py
  pydantic-ai-agent/server/chat_service.py
  pydantic-ai-agent/server/websocket_handler.py
Due: none

don't exclude hidden fields
  client/src/app/snapshots/[...slug]/components/record-details/RecordList.tsx
Due: none

[agent] substring data and fix compile issue
  pydantic-ai-agent/_experiments/simple_test_agent/data_agent_prompts.py
  pydantic-ai-agent/agents/data_agent/data_agent_prompts.py
  pydantic-ai-agent/agents/data_agent/data_agent_utils.py
  pydantic-ai-agent/server/agent_run_state_manager.py
  pydantic-ai-agent/server/chat_service.py
  pydantic-ai-agent/server/user_prompt_utils.py
Due: none

[client] Cleanup client logs and style guide bugs
  client/src/app/components/EditResourceModal.tsx
  client/src/app/snapshots/[...slug]/components/SnapshotActionsMenu.tsx
  client/src/app/style-guides/page.tsx
  client/src/contexts/ai-agent-session-manager-context.tsx
  client/src/contexts/snapshot-event-context.tsx
  client/src/hooks/use-agent-chat-websocket.ts
Due: none

[agent] switch from print to logger
  pydantic-ai-agent/agents/data_agent/agent.py
  pydantic-ai-agent/agents/data_agent/data_agent_history_processor.py
  pydantic-ai-agent/agents/data_agent/data_agent_prompts.py
  pydantic-ai-agent/agents/data_agent/data_agent_utils.py
  pydantic-ai-agent/agents/data_agent/tools/append_field_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/create_records_tool.py
  pydantic-ai-agent/agents/data_agent/tools/delete_records_tool.py
  pydantic-ai-agent/agents/data_agent/tools/search_and_replace_field_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/set_field_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/update_records_tool.py
  pydantic-ai-agent/agents/data_agent/tools/view/add_records_to_filter_tool.py
  pydantic-ai-agent/agents/data_agent/tools/view/clear_record_filter_tool.py
  pydantic-ai-agent/agents/data_agent/tools/view/set_filter_tool.py
  pydantic-ai-agent/server/websocket_handler.py
Due: none

[agent] missed some files
  pydantic-ai-agent/agents/data_agent/tools/insert_value_tool.py
  pydantic-ai-agent/utils/get_styleguide.py
Due: none

[agent] split out session management to new class
  pydantic-ai-agent/main.py
  pydantic-ai-agent/server/agent_run_state_manager.py
  pydantic-ai-agent/server/chat_controller.py
  pydantic-ai-agent/server/chat_service.py
  pydantic-ai-agent/server/session_service.py
  pydantic-ai-agent/server/websocket_handler.py
Due: none

[agent] rework snapshot data formatting and data scope prompts
  pydantic-ai-agent/agents/data_agent/data_agent_prompts.py
  pydantic-ai-agent/agents/data_agent/data_agent_utils.py
  pydantic-ai-agent/main.py
  pydantic-ai-agent/scratchpad_api.py
  pydantic-ai-agent/server/agent_run_state_manager.py
  pydantic-ai-agent/server/chat_service.py
  pydantic-ai-agent/server/user_prompt_utils.py
Due: none

[agent] url content tool, revised search and replace
  pydantic-ai-agent/agents/data_agent/agent.py
  pydantic-ai-agent/agents/data_agent/data_agent_prompts.py
  pydantic-ai-agent/agents/data_agent/tools/search_and_replace_field_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/url_content_load_tool.py
  pydantic-ai-agent/agents/data_agent/tools_config.py
Due: none

[agent] field value tools load fresh record before udpate
  pydantic-ai-agent/agents/data_agent/tools/append_field_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/insert_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/search_and_replace_field_value_tool.py
Due: none

[client] Refactor SideMenu and improve AgentCredentials UI; update AIChatPanel title
  client/src/app/components/AIChatPanel/index.tsx
  client/src/app/components/SideMenu.tsx
  client/src/app/settings/components/AgentCredentials.tsx
  client/src/app/settings/components/AgentUsageInfoCard.tsx
  client/src/app/settings/page.tsx
  client/src/app/snapshots/[...slug]/components/record-details/DisplayField.tsx
  client/src/app/snapshots/[...slug]/components/record-details/FieldRow.tsx
  client/src/app/snapshots/[...slug]/components/record-details/RecordDetails.tsx
  client/src/app/snapshots/[...slug]/components/record-details/RecordList.tsx
Due: none

[server] store name and email in user table
  server/prisma/ERD.md
  server/prisma/migrations/20250821171545_add_user_name_email/migration.sql
  server/prisma/schema.prisma
  server/src/auth/clerk.strategy.ts
  server/src/auth/types.ts
  server/src/users/users.service.ts
Due: server:install, server:test, server:build

[agent] bump pydantic-ai, openai packages
  pydantic-ai-agent/.gitignore
  pydantic-ai-agent/README.md
  pydantic-ai-agent/agents/data_agent/agent.py
  pydantic-ai-agent/requirements.txt
  pydantic-ai-agent/server/chat_service.py
Due: none

[server, client] track more meta data for style guides objects
  client/src/app/components/EditResourceModal.tsx
  client/src/app/components/ResourceSelector.tsx
  client/src/app/components/SideMenu.tsx
  client/src/app/resources/page.tsx
  client/src/app/style-guides/[id]/page.tsx
  client/src/types/server-entities/style-guide.ts
  client/src/utils/route-urls.ts
  server/prisma/ERD.md
  server/prisma/migrations/20250821204028_add_style_guide_download_columns/migration.sql
  server/prisma/schema.prisma
  server/src/style-guide/dto/create-style-guide.dto.ts
  server/src/style-guide/dto/update-style-guide.dto.ts
  server/src/style-guide/entities/style-guide.entity.ts
  server/src/style-guide/style-guide.service.ts
Due: server:install, server:test, server:build

[server, client] url content resources
  client/src/app/components/EditResourceModal.tsx
  client/src/app/resources/page.tsx
  client/src/lib/api/style-guide.ts
  client/src/types/server-entities/style-guide.ts
  client/src/utils/helpers.ts
  server/package.json
  server/src/style-guide/dto/update-style-guide.dto.ts
  server/src/style-guide/entities/external-content.entity.ts
  server/src/style-guide/style-guide.controller.ts
  server/src/style-guide/style-guide.service.ts
  server/yarn.lock
Due: server:install, server:test, server:build

[client, server] download external content in form
  client/src/app/components/EditResourceModal.tsx
  client/src/types/server-entities/style-guide.ts
  server/src/style-guide/style-guide.controller.ts
  server/src/style-guide/style-guide.service.ts
Due: server:test, server:build

[agent] remove bad import
  pydantic-ai-agent/agents/data_agent/agent.py
Due: none

[client] refresh auth token on page focus
  client/src/contexts/auth.tsx
Due: none

[server, client] tweak resource loading, validate urls
  client/src/app/components/EditResourceModal.tsx
  client/src/lib/api/style-guide.ts
  client/src/utils/helpers.ts
  server/src/style-guide/style-guide.service.ts
  server/src/utils/urls.ts
Due: server:test, server:build

[agent] adding type checks to event processing
  client/src/app/snapshots/[...slug]/components/record-details/DisplayField.tsx
  pydantic-ai-agent/server/chat_service.py
Due: none

[client] side bar tweaks
  client/src/app/components/DiffViewer.tsx
  client/src/app/components/EnhancedTextArea.tsx
  client/src/app/snapshots/[...slug]/components/RecordView.tsx
  client/src/app/snapshots/[...slug]/components/record-details/DisplayField.tsx
  client/src/app/snapshots/[...slug]/components/record-details/RecordList.tsx
Due: none

[agent] exclude health checks from access log
  pydantic-ai-agent/logger.py
  pydantic-ai-agent/main.py
Due: none

[client] refactor out an agent chat context
  client/src/app/ai-connector-builder/components/ConnectorAIChatPanel.tsx
  client/src/app/components/RecordsGrid.tsx
  client/src/app/components/ResourceSelector.tsx
  client/src/app/snapshots/[...slug]/AIPromptContext.tsx
  client/src/app/snapshots/[...slug]/components/AIChatPanel/CapabilitiesPicker.tsx
  client/src/app/snapshots/[...slug]/components/AIChatPanel/ChatMessageElement.tsx
  client/src/app/snapshots/[...slug]/components/AIChatPanel/ResourceSelector.module.css
  client/src/app/snapshots/[...slug]/components/AIChatPanel/ResourceSelector.tsx
  client/src/app/snapshots/[...slug]/components/AIChatPanel/index.tsx
  client/src/app/snapshots/[...slug]/components/RecordView.tsx
  client/src/app/snapshots/[...slug]/components/TableContent.tsx
  client/src/app/snapshots/[...slug]/components/ViewData.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/FocusedCellsDebugModal.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/SnapshotTableGridProvider.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/useContextMenuItems.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/useDrawCell.ts
  client/src/app/snapshots/[...slug]/page.tsx
  client/src/contexts/agent-chat-context.tsx
Due: none

[client, agent] many chat enhancements
  client/src/app/components/SideMenu.tsx
  client/src/app/snapshots/[...slug]/components/AIChatPanel/SessionHistorySelector.tsx
  client/src/app/snapshots/[...slug]/components/AIChatPanel/index.tsx
  client/src/app/snapshots/[...slug]/page.tsx
  client/src/contexts/ai-agent-session-manager-context.tsx
  client/src/hooks/use-agent-chat-websocket.ts
  client/src/lib/api/ai-agent.ts
  client/src/lib/api/keys.ts
  pydantic-ai-agent/server/chat_controller.py
  pydantic-ai-agent/server/session_service.py
  pydantic-ai-agent/server/websocket_handler.py
Due: none

[client] fix bug with data scope not set during direct linking
  client/src/app/snapshots/[...slug]/components/RecordView.tsx
Due: none

[server, client] add agent JWT generator
  client/src/types/server-entities/users.ts
  pydantic-ai-agent/.env.example
  server/.env.example
  server/package.json
  server/src/agent-jwt/agent-jwt.module.ts
  server/src/agent-jwt/jwt-generator.service.ts
  server/src/agent-jwt/types.ts
  server/src/app.module.ts
  server/src/auth/agent-token.strategy.ts
  server/src/auth/api-token.strategy.ts
  server/src/auth/auth.module.ts
  server/src/auth/types.ts
  server/src/config/scratchpad-config.service.ts
  server/src/users/entities/user.entity.ts
  server/src/users/users.controller.ts
  server/src/users/users.module.ts
  server/yarn.lock
Due: server:install, server:test, server:build

[server] activate the new agent-token strategy
  server/src/auth/scratchpad-auth.guard.ts
Due: server:test, server:build

[agent, client] new JWT auth system
  client/src/app/snapshots/[...slug]/components/AIChatPanel/ChatMessageElement.tsx
  client/src/app/snapshots/[...slug]/components/AIChatPanel/index.tsx
  client/src/hooks/use-agent-chat-websocket.ts
  client/src/hooks/useScratchpadUser.ts
  client/src/lib/api/config.ts
  client/src/types/server-entities/chat-session.ts
  pydantic-ai-agent/agents/data_agent/agent.py
  pydantic-ai-agent/agents/data_agent/data_agent_utils.py
  pydantic-ai-agent/agents/data_agent/model_utils.py
  pydantic-ai-agent/agents/data_agent/models.py
  pydantic-ai-agent/agents/data_agent/tools/append_field_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/create_records_tool.py
  pydantic-ai-agent/agents/data_agent/tools/delete_records_tool.py
  pydantic-ai-agent/agents/data_agent/tools/insert_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/search_and_replace_field_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/set_field_value_tool.py
  pydantic-ai-agent/agents/data_agent/tools/update_records_tool.py
  pydantic-ai-agent/agents/data_agent/tools/view/add_records_to_filter_tool.py
  pydantic-ai-agent/agents/data_agent/tools/view/clear_record_filter_tool.py
  pydantic-ai-agent/agents/data_agent/tools/view/set_filter_tool.py
  pydantic-ai-agent/connector_builder/agent.py
  pydantic-ai-agent/main.py
  pydantic-ai-agent/requirements.txt
  pydantic-ai-agent/scratchpad/__init__.py
  pydantic-ai-agent/scratchpad/api.py
  pydantic-ai-agent/scratchpad/config.py
  pydantic-ai-agent/scratchpad/entities.py
  pydantic-ai-agent/scratchpad_api.py
  pydantic-ai-agent/server/DTOs.py
  pydantic-ai-agent/server/auth.py
  pydantic-ai-agent/server/chat_controller.py
  pydantic-ai-agent/server/chat_service.py
  pydantic-ai-agent/server/websocket_handler.py
  pydantic-ai-agent/session.py
Due: none

[agent] Fix bulk update error
  client/src/app/snapshots/[...slug]/components/AIChatPanel/AIChatPanel.tsx
  client/src/app/snapshots/[...slug]/page.tsx
  pydantic-ai-agent/scratchpad/api.py
Due: none

[client] upgrade mantine 8.2
  client/package.json
  client/yarn.lock
Due: none

[client] attempt to fix scroll overflow issue on record details
  client/src/app/snapshots/[...slug]/components/RecordView.tsx
  client/src/app/snapshots/[...slug]/page.tsx
Due: none

[client] data grid and record view tweaks
  client/src/app/snapshots/[...slug]/components/record-details/DisplayField.tsx
  client/src/app/snapshots/[...slug]/components/snapshot-table/SnapshotTableGrid.tsx
  client/src/types/server-entities/snapshot.ts
Due: none

[agent, client] add user_id to sesssion
  client/src/app/settings/components/DebugInfo.tsx
  pydantic-ai-agent/server/chat_controller.py
  pydantic-ai-agent/server/session_service.py
Due: none

[client, server] cleanup deprecated agent token
  client/src/app/ai-connector-builder/components/ConnectorAIChatPanel.tsx
  client/src/app/settings/components/DebugInfo.tsx
  client/src/hooks/use-snapshot-event-webhook.ts
  client/src/hooks/useScratchpadUser.ts
  client/src/lib/api/config.ts
  client/src/types/server-entities/users.ts
  server/src/users/entities/user.entity.ts
  server/src/users/users.service.ts
Due: server:test, server:build

[client] don't pad large text area on multi-field record view
  client/src/app/snapshots/[...slug]/components/record-details/DisplayField.tsx
Due: none
